/*
 * Treeherder Base settings
 *
 * This file contains settings which are either not specific to our
 * UI component css files, or are shared across Treeherder, Logviewer,
 * UserGuide, and/or Perfherder.
 *
 * Including this class will make modifications to elements.
 *
 * Please add CSS class styles to the `treeherder-custom-styles.css` file
 * rather than here.
 */

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.42;
  overflow: hidden;
}

body {
  line-height: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:visited,
.link-style:visited {
  color: purple;
}

a {
  color: #337ab7;
  cursor: pointer;
}

label {
  font-weight: bold;
}

h4 {
  font-size: 18px;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px/10px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

/*
 * Treeherder style settings
 *
 * This file contains opt-in styles which can be used across Treeherder
 * without affecting settings which are either not specific to our
 * UI component css files, or are shared across Treeherder, Logviewer,
 * UserGuide, and/or Perfherder.
 *
 * Please consider the appropriate css file and attribute location
 * when adding new styles.
 */

/* Bootstrap 4 will not show <a> as a link style if it has no href.
   This adds that style back. */
.link-style {
  color: #337ab7 !important;
  cursor: pointer;
}

.pagination,
.panel-title a {
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

.small-text {
  font-size: 12px;
}

/* this is better for drop down menu items because
  display: none will change text alignment */
.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Similar Jobs panel */
.checkbox {
  min-height: 20px;
  padding-left: 4px;
  padding-top: 2px;
  justify-content: center;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

.dropdown-menu > li.disabled > a {
  pointer-events: none;
  font-style: italic;
  color: grey;
}

.dropdown-menu > li.disabled {
  cursor: not-allowed;
}

.dropdown-item {
  cursor: pointer;
}

.form-control:focus {
  border: 1px solid #ced4da;
  box-shadow: none;
}

/* Spacing for menus with adjacent icons */
.icon-menu li a span {
  width: 20px;
}

.modal-header .close:hover {
  cursor: pointer;
}

/*
 * Icons
 */

.logviewer-icon {
  width: 14px;
  height: 16px;
  vertical-align: text-top;
  opacity: 0.7;
}

.logviewer-icon:hover {
  opacity: 0.9;
}

.icon-blue:hover,
.icon-blue:focus,
.icon-blue:active {
  color: #68aae2 !important;
}

.icon-green:hover,
.icon-green:focus,
.icon-green:active {
  color: #0de00d !important;
}

.icon-cyan:hover,
.icon-cyan:focus,
.icon-cyan:active {
  color: #00ffff !important;
}

.icon-superscript {
  vertical-align: super;
  font-size: 0.625em;
  margin-left: -0.2em;
}

.hover-warning:hover {
  color: #fa4444 !important;
}

.dim-quarter {
  opacity: 0.75;
}

/*
 * Cursors
 */

.th-spinner {
  color: rgba(145, 164, 221, 0.7);
}

.th-spinner-lg {
  color: rgba(145, 164, 221, 0.3);
}

.pointable,
.nav-tabs li {
  cursor: pointer;
}

/*
 * Result status colors
 *
 * These colors are used both by Treeherder and Logviewer
 * so receive global status.
 */

.result-status-shading-success {
  background-color: rgba(2, 131, 44, 0.24);
  border-color: rgba(2, 131, 44, 0.24);
}

.result-status-shading-testfailed {
  background-color: rgba(221, 102, 2, 0.5);
  border-color: rgba(221, 102, 2, 0.25);
}

.result-status-shading-busted {
  background-color: rgba(144, 0, 0, 0.5);
  border-color: rgba(144, 0, 0, 0.25);
}

.result-status-shading-skipped {
  background-color: rgba(101, 191, 221, 0.25);
  border-color: rgba(101, 191, 221, 0.25);
}

.result-status-shading-exception {
  background-color: rgba(61, 2, 85, 0.25);
  border-color: rgba(61, 2, 85, 0.25);
}

.result-status-shading-retry {
  background-color: rgba(38, 63, 195, 0.25);
  border-color: rgba(38, 63, 195, 0.25);
}

.result-status-shading-usercancel {
  background-color: rgba(250, 115, 172, 0.25);
  border-color: rgba(250, 115, 172, 0.25);
}

.result-status-shading-pending {
  background-color: rgba(160, 160, 160, 0.2);
  border-color: rgba(160, 160, 160, 0.2);
}

.result-status-shading-running {
  background-color: rgba(70, 70, 70, 0.25);
  border-color: rgba(70, 70, 70, 0.25);
}

.result-status-shading-unknown {
  background-color: rgb(252, 248, 227);
  border-color: rgb(251, 216, 144);
}

.result-status-shading-superseded {
  background-color: white;
}

/*
 * Colors
 */

.lightgray,
.lightgray a {
  color: lightgray;
}

.bg-lightgray {
  background-color: lightgray;
}

.midgray,
.midgray a {
  color: gray;
}

.lightorange {
  color: #eba870;
}

.darkorange {
  color: #dd6602;
}

/*
 * Text
 */

.queryparam {
  display: inline-block;
  font: 12px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  color: #555;
}

.strike-through {
  text-decoration: line-through;
}

.nowrap {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.help-block {
  color: #737373;
}

/*
 * Bootstrap/Reactstrap Custom Colors
 */

/* Darker Info */
.text-darker-info {
  color: #0d7d8f;
}

.badge-darker-info {
  background: #0d7d8f;
  color: white;
}

.bg-darker-info {
  background-color: #0d7d8f;
}

.btn-darker-info {
  background-color: #0d7d8f;
  border-color: #0d7d8f;
  color: #ffffff;
}

.btn-darker-info:hover {
  color: #ffffff;
  background-color: #0a5e6d;
}

.btn-darker-info.disabled {
  color: black;
  background-color: #30b9ce80;
}

.btn-outline-darker-info {
  color: #0d7d8f;
  border-color: #0d7d8f;
}

.btn-outline-darker-info:hover,
.btn-outline-darker-info:not(:disabled):not(.disabled).active {
  background-color: #0d7d8f;
  border-color: #0d7d8f;
  color: #ffffff;
}

.btn-outline-darker-info.disabled {
  color: #02363f;
  background-color: white;
  border-color: #0d7d8f;
}

/* Darker Secondary */
.text-darker-secondary {
  color: #53595f;
}

.badge-darker-secondary {
  background-color: #6c757d;
  color: white;
}

.bg-darker-secondary {
  background-color: #6c757d;
}

.btn-darker-secondary {
  color: #ffffff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-darker-secondary:hover {
  color: #ffffff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-darker-secondary.disabled {
  color: #242424;
  background-color: white;
  border-color: #6c757d;
}

.btn-outline-darker-secondary {
  color: #6c757d;
  background-color: #fff;
  border-color: #6c757d;
}

/*
 * Tables and panels
 */

.table-super-condensed thead > tr > th,
.table-super-condensed tbody > tr > th,
.table-super-condensed tfoot > tr > th,
.table-super-condensed thead > tr > td,
.table-super-condensed tbody > tr > td,
.table-super-condensed tfoot > tr > td {
  padding: 2px;
  font-size: 0.9em;
}

.panel-spacing table {
  width: 100%;
}

.panel-spacing tr th:first-child {
  padding-right: 2em;
}

.panel-spacing tr:nth-child(even) {
  background-color: #f8f8f8;
}

.panel-spacing table tr {
  border-bottom: 1px dotted lightgrey;
}

.modal-lg {
  max-width: 890px;
}

.row-height-tight {
  line-height: 15px !important;
}

/* ReactTable overriding row, button and link color style for contrast pass */
.ReactTable .-pagination .-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.ReactTable .-pagination .-btn[disabled] {
  background-color: rgba(0, 0, 0, 0.03);
  opacity: 1;
}

.ReactTable .item-badge {
  color: #057699;
}

.rt-tbody a {
  color: #187c86;
}

/*
 * Onscreen help
 */
#onscreen-shortcuts {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  width: 100%;
  max-width: 960px;
}

#onscreen-shortcuts div div.card {
  max-height: 90vh;
  overflow: auto;
}

/*
 * Clipboard
 *
 * This facilitates copy on hover for
 * Logviewer, Raw Log, and Job:name buttons/links
 */

#clipboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100;
  display: none;
  opacity: 0;
}

#clipboard {
  width: 1px;
  height: 1px;
  padding: 0;
}

/*
 * Fonts
 *
 * Styles for modifying basic font styles
 */

.pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.max-width-default {
  max-width: 1250px;
}

/* Custom widths for compare table cells */
.table-width-lg {
  width: 140px;
}

.table-width-md {
  width: 100px;
}

.table-width-sm {
  width: 50px;
}

.table-width-xs {
  width: 20px;
}

.card-height {
  height: 260px;
}

.dropdown-menu-height {
  max-height: 300px;
}

.pointer {
  cursor: pointer;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.3);
}

/*
 * Main navbar settings
 */

#global-navbar-container {
  background-color: #273038;
  margin-bottom: 0;
  flex: none;
}

#th-global-navbar-top {
  padding-left: 0;
  padding-top: 1px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  display: flex;
  width: 100%;
  background-color: #222;
}

.navbar {
  padding: 0;
}

#th-global-navbar-top .dropdown-menu {
  top: inherit;
}

.dropdown-menu {
  min-width: inherit;
}

.dropdown-menu > li > a,
.dropdown-menu a {
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
}

label.dropdown-item {
  margin-bottom: 0;
}

label.dropdown-item.active,
.dropdown-item:active {
  color: #0b0c0e;
}

.dropdown-item input[type='checkbox'] {
  margin-right: 5px;
}

#th-logo {
  padding-left: 14px;
  border-left: 0;
}

#th-logo img {
  margin-top: -8px;
  max-height: 18px;
}

/*
 * Right hand upper navbar
 */

.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.nav-menu-btn {
  margin-right: -4px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
}

.nav-menu-btn.dropdown-toggle {
  width: 98%;
}

.nav-menu-btn:after {
  font-size: 14px;
}

.nav-help-btn {
  margin-right: -4px;
  padding-left: 12px;
  padding-right: 8px;
}

.th-context-navbar {
  background-color: #354048;
  overflow: visible;
}

/*
 * Left hand lower navbar
 */

secondary-nav-bar {
  width: 100%;
}

.watched-repo-main-btn {
  border-right: 0;
  padding-right: 5px;
}

.watched-repo-main-btn:visited,
.watched-repo-main-btn:link {
  color: lightgrey;
}

.watched-repo-navbar {
  overflow: visible;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  display: flex;
  background-color: #354048;
}

.tree-closed {
  color: rgb(161, 52, 53);
}

.tree-open {
  color: green;
}

.tree-approval {
  color: #fb9910;
}

.tree-unavailable {
  color: lightgray;
}

/*
 * Right hand lower navbar
 */

.group-state-nav-icon {
  width: 7px;
  display: inline-block;
}

.btn-nav-filter {
  padding: 7px 2px;
}

#filter-chicklets .btn {
  padding: 0;
  margin: 0px 1px 2px 1px;
}

.btn.btn-view-nav.btn-orange-filter-chicklet,
.btn.btn-view-nav.btn-orange-filter-chicklet:hover {
  color: #dd6602;
}

.btn.btn-view-nav.btn-red-filter-chicklet,
.btn.btn-view-nav.btn-red-filter-chicklet:hover {
  color: #c03a44;
}

.btn.btn-view-nav.btn-purple-filter-chicklet,
.btn.btn-view-nav.btn-purple-filter-chicklet:hover {
  color: #77438d;
}

.btn.btn-view-nav.btn-green-filter-chicklet,
.btn.btn-view-nav.btn-green:hover {
  color: rgba(2, 130, 51, 0.75);
}

.btn.btn-view-nav.btn-dkblue-filter-chicklet,
.btn.btn-view-nav.btn-dkblue-filter-chicklet:hover {
  color: #3656ff;
}

.btn.btn-view-nav.btn-pink-filter-chicklet,
.btn.btn-view-nav.btn-pink-filter-chicklet:hover {
  color: rgba(250, 115, 172, 0.82);
}

.btn.btn-view-nav.btn-ltblue-filter-chicklet,
.btn.btn-view-nav.btn-ltblue-filter-chicklet:hover {
  color: #81b8ed;
}

.btn.btn-view-nav.btn-ltgray-filter-chicklet,
.btn.btn-view-nav.btn-ltgray-filter-chicklet:hover {
  color: #e0e0e0;
}

.btn.btn-view-nav.btn-dkgray-filter-chicklet,
.btn.btn-view-nav.btn-dkgray-filter-chicklet:hover {
  color: #7c7a7d;
}

.btn.btn-view-nav.btn-black-filter-chicklet,
.btn.btn-view-nav.btn-black-filter-chicklet:hover {
  color: black;
}

/*
 * Quick Filter
 */

#quick-filter {
  height: 28px;
  width: 150px;
  display: inherit;
  transition: width 0.2s;
}

#quick-filter-parent {
  position: relative;
}

@media (min-width: 850px) {
  #quick-filter:focus,
  #quick-filter:valid {
    width: 300px !important;
    padding-right: 20px;
  }
}

#quick-filter:valid + #quick-filter-clear-button {
  display: inherit;
}

#quick-filter-clear-button {
  color: #bababa;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  display: none;
  top: 1px;
  right: 20px;
  height: 16px;
}

/*
 * Unclassified failures button
 */

.btn-unclassified-failures {
  margin-top: 1px;
  padding: 3px 10px;
  background-color: rgba(78, 93, 21, 0.56);
  border-color: #9fa01d;
  color: lightgray;
}
.btn-unclassified-failures:hover,
.btn-unclassified-failures:focus {
  background-color: rgba(78, 93, 21, 0.56);
  border-color: #cdce1d;
  color: lightgray;
}
.btn-unclassified-failures:active,
.btn-unclassified-failures.active {
  background-color: #cdce1d;
  border-color: #cdce1d;
  color: #25292b;
}
.btn-unclassified-failures.disabled:hover,
.btn-unclassified-failures.disabled:focus,
.btn-unclassified-failures.disabled:active,
.btn-unclassified-failures.disabled.active,
.btn-unclassified-failures:disabled:hover,
.btn-unclassified-failures:disabled:focus,
.btn-unclassified-failures:disabled:active,
.btn-unclassified-failures:disabled.active,
fieldset[disabled] .btn-unclassified-failures:hover,
fieldset[disabled] .btn-unclassified-failures:focus,
fieldset[disabled] .btn-unclassified-failures:active,
fieldset[disabled] .btn-unclassified-failures.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

/*
 * Navbar button customization
 */

.btn-view-nav,
.btn-view-nav:visited {
  background-color: transparent;
  border-color: #373d40;
  color: lightgray;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}

.btn-view-nav:hover,
.btn-view-nav:focus,
.btn-view-nav:active,
.btn-view-nav.active {
  background-color: #2c3133 !important;
  border-color: #1a1d20 !important;
  color: white;
}
.btn-view-nav.disabled:hover,
.btn-view-nav.disabled:focus,
.btn-view-nav.disabled:active,
.btn-view-nav.disabled.active,
.btn-view-nav:disabled:hover,
.btn-view-nav:disabled:focus,
.btn-view-nav:disabled:active,
.btn-view-nav:disabled.active,
fieldset[disabled] .btn-view-nav:hover,
fieldset[disabled] .btn-view-nav:focus,
fieldset[disabled] .btn-view-nav:active,
fieldset[disabled] .btn-view-nav.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.btn-view-nav-closed {
  background-color: rgba(107, 4, 4, 0.53);
  border-color: #22282d;
  color: lightgray;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}
.btn-view-nav-closed:hover,
.btn-view-nav-closed:focus,
.btn-view-nav-closed:active,
.btn-view-nav-closed.active {
  background-color: rgba(107, 4, 4, 0.53);
  border-color: #1a1d20;
  color: white;
}
.btn-view-nav-closed.disabled:hover,
.btn-view-nav-closed.disabled:focus,
.btn-view-nav-closed.disabled:active,
.btn-view-nav-closed.disabled.active,
.btn-view-nav-closed:disabled:hover,
.btn-view-nav-closed:disabled:focus,
.btn-view-nav-closed:disabled:active,
.btn-view-nav-closed:disabled.active,
fieldset[disabled] .btn-view-nav-closed:hover,
fieldset[disabled] .btn-view-nav-closed:focus,
fieldset[disabled] .btn-view-nav-closed:active,
fieldset[disabled] .btn-view-nav-closed.active {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

@media (min-width: 960px) {
  .strikethrough::after {
    text-decoration: line-through;
  }

  .btn-toggle-duplicate-jobs::after {
    content: ' Duplicates';
  }
}

.navbar-badge.badge * {
  cursor: default;
}

.navbar-badge.badge {
  margin: 0 5px;
}

#notification-dropdown {
  max-width: 25em;
  max-height: 20em;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 14px;
}

#notification-dropdown .dropdown-header {
  padding-left: 0;
  padding-bottom: 4px;
}

.notification-dropdown-line {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.notification-dropdown-btn {
  margin-left: 4px;
  font-size: 10px;
}

#repo-dropdown {
  min-width: 30rem;
  max-height: 35rem;
  overflow-x: hidden;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-header {
  font-size: 12px;
  color: #656f77;
}

.dropdown-link,
.dropdown-link > a {
  color: #212529cc;
  padding-top: 0.5rem;
}

#infra-dropdown {
  min-width: 21rem;
}

.checkbox-dropdown-menu .repogroup {
  padding-left: 0;
}

.dropdown-item:hover {
  background-color: #d3d3d34d;
}

/* Used by Perfherder and IFV */
.top-navbar {
  background-color: #222;
}

.navbar-link {
  color: lightgray;
}

.navbar-link:hover {
  color: lightgray;
}

.navbar-link:visited {
  color: lightgray;
}

#root {
  height: 100%;
}

.dropdown-menu {
  top: inherit;
}

.error-lines {
  flex: 1;
  overflow-y: auto;
}

.error-line:hover {
  background-color: lightgrey;
}

.error-line-text {
  word-break: break-all;
}

.job-data-panel {
  overflow-y: auto;
  flex: 1;
}

#job-info label {
  margin-right: 5px;
}

.run-data {
  max-height: 250px;
}


.treeView {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  border-top: 1px solid var(--grey-30);
  cursor: default;
  user-select: none;
  font-size: 11px;
  font-family: monospace;
  --fixed-time-width: 80px;
}

.treeViewHeader {
  position: relative;
  height: 16px;
  padding: 1px 0;
  border-bottom: 1px solid #aaa;
  background: #fff;
}

.treeViewHeaderColumn {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 1px 5px;
  line-height: 15px;
  white-space: nowrap;
}

.treeViewFixedColumn.time {
  left: 0;
  width: var(--fixed-time-width);
  padding-right: 5px;
  text-align: right;
}

.treeViewHeaderColumn.log {
  left: calc(var(--fixed-time-width) + 20px);
}

.treeViewMainColumn.log {
  padding-inline-start: 5px;
}

.treeViewBodyInner {
  overflow: hidden;
  background: #222;
}

.treeViewBodyInnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
}

.treeViewBody {
  position: relative;
  z-index: 0;
  overflow: auto;
  flex: 1;
  line-height: 16px;
  outline: 0;
  will-change: scroll-position;
  background-color: #182027;
  color: #8c9093;
}

.treeViewBodyInner0 {
  position: sticky;
  z-index: 2;
  left: 0;
}

.treeViewFixedColumn.time {
  left: 0;
  width: var(--fixed-time-width);
  padding-right: 5px;
  text-align: right;
}

.treeViewRowColumn.treeViewFixedColumn {
  overflow: hidden;
  box-sizing: border-box;
  border-right: 1px solid #aaa;
  text-overflow: ellipsis;
}

.treeViewRow.even {
  /* background-color: #111; */
}

.treeViewRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.treeViewRow.odd {
  /* background-color: #182027; */
}

.treeViewRow.isSelected {
  background-color: #25313b;
}
.treeViewBody:focus .treeViewRow.isSelected {
  background-color: #25313b;
}
.treeViewBody:focus .treeViewRow.isSelected a {
  color: inherit;
}

.treeRowToggleButton.canBeExpanded {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid;
  margin-left: 8px;
  color: #888;
}

.treeRowToggleButton.canBeExpanded.expanded {
  border-top: 8px solid;
  border-right: 5px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid transparent;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.treeRowToggleButton.canBeExpanded:active:hover {
  color: var(--grey-60);
}

.log {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logToolbar {
  height: 28px;
  border-bottom: 1px solid #aaa;
  padding: 3px 7px;
  display: flex;
  font-size: 11px;
  justify-content: end;
}

.log-test-info,
.log-test-ok,
.log-test-pass,
.log-test-start,
.log-suite-start {
  color: #57be38;
}

.log-process-crash,
.log-test-unexpected-fail,
.log-has-failing-test {
  color: red;
}

.log-test-other,
.log-test-summary {
  color: #fff;
}

.log-has-skipped-test {
  opacity: 0.5;
}


/*# sourceMappingURL=logviewer2.f88324dd.css.map*/